{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:jest/recommended"
  ],
  "plugins": ["react", "@typescript-eslint", "prettier", "react-hooks"],
  "env": {
    "browser": true,
    "jest": true,
    "amd": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "import/no-unresolved": "error",
    "import/order": "off",
    "import/named": "off",
    "import/default": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": ["off"],
    "react/display-name": ["off"],
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "printWidth": 100,
      "semi": true
    }]
  },
  "overrides": [{
    "files": ["**/*.tsx"],
    "rules": {
      "react/prop-types": "off"
    }
  }],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {}
    }
  }
}