$background-color: #FF9529;
$white: #fff;
$text-color: #1e70cd;

html, body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: $white;
  position: relative;
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: "myriad",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 300;
  color: $text-color;
}

.row {
  margin-bottom: 1em;
}

.demo-slide {
  height: 300px !important;
  line-height: 300px;
  align-items: center;
  font-size: 2em;
  background-color: $background-color;
  color: $white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.swiper-container {
  width: 100%;
  height: 300px;
}

.swiper-pagination-bullet-active {
  background-color: $text-color !important;
  opacity: 1;
}

.swiper-pagination-bullet {
  opacity: .8;
  background-color: $white;
}

#auto-slides-per-view {
  .swiper-slide {
    width: 80%;
    &:nth-child(2n) {
      width: 60%;
    }
    &:nth-child(3n) {
      width: 40%;
    }
  }
}

#centered-slides {
  .swiper-slide {
    width: 60%;
    &:nth-child(2n) {
      width: 40%;
    }
    &:nth-child(3n) {
      width: 20%;
    }
  }
}