@import './swiper';

$background-color: #FF9529;
$white: #fff;
$text-color: #1e70cd;
$container-color: #DAD8D8;
$box-size: 300px;

html, body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: $white;
  position: relative;
  height: 100%;
  padding-top: 2em;
}

h1, h2, h3, h4 {
  font-family: "myriad",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 300;
  color: $text-color;
}

.row {
  margin-bottom: 1em;
}

.demo-slide {
  height: 300px !important;
  line-height: 300px;
  align-items: center;
  font-size: 2em;
  background-color: $background-color;
  color: $white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.app-header {
  background: $background-color;
  h2 {
    color: $white !important;
    font-size: 2em;
    margin: 0;
  }
}

.swiper-container {
  width: 100%;
  height: $box-size;
  background: $white;
}

.swiper-pagination-bullet-active {
  background-color: $text-color !important;
  opacity: 1;
}

.swiper-pagination-bullet {
  opacity: 1;
  background-color: $white;
}

#auto-slides-per-view {
  .swiper-slide {
    width: 80%;
    &:nth-child(2n) {
      width: 60%;
    }
    &:nth-child(3n) {
      width: 40%;
    }
  }
}

#centered-slides,
#centered-slides-auto,
#grab-cursor {
  .swiper-slide {
    width: 60%;
    &:nth-child(2n) {
      width: 40%;
    }
    &:nth-child(3n) {
      width: 20%;
    }
  }
}

#multi-row {
  .swiper-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

#fade-effect {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    background-color: $white;
  }
}

#cube-effect {
  .swiper-container {
    width: $box-size !important;
    height: $box-size;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    background: $white;
    .swiper-slide {
      background-position: center;
      background-size: cover;
      background-color: $white;
    }
  }
  .slide-content {
    height: 450px;
    position: relative;
  }
}

#coverflow-effect {
  .swiper-container {
    width: 100%;
    height: 100%;
    padding: .5em;
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: $box-size;
        height: $box-size;
        background-color: $white;
    }
  }
}

#flip-effect {
  .swiper-container {
    width: $box-size;
    height: $box-size;
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: $box-size;
      height: $box-size;
      background-color: $white;
    }
  }
}

#customized-pagination {
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    color: $text-color;
    opacity: 1;
    background: $white;
  }
  .swiper-pagination-bullet-active {
    color: $white;
    background: $text-color;
  }
}

#fraction-pagination {
  .swiper-pagination-fraction {
    color: $white;
  }
}